{% extends "layout.html" %}

{% block pageTitle %}
  July 19th
{% endblock %}

{% block content %}
<h1 class="govuk-heading-xl">July 19th - Nicola Harwood </h1>
<p class="govuk-body">The archived video is available for watching on YouTube.</p>

<h3 class="govuk-heading-m">What can I do with this video?</h3>
<p class="govuk-body">There are a few things you are permitted to do:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>Record your message for reposting.</li>
  <li>Rewatch the session.</li>
  </ul>
<P class="govuk-body">There is also some things you can not do:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>Repost the entire video.</li>
    <li>Share the full video with anyone apart from close family/friends watching with you.</li>
    </ul>
  <h3 class="govuk-heading-m">Link:</h3>
<a href="#">
  <button class="govuk-button" data-module="govuk-button">
  Watch service
</button>
</a>

{% endblock %}
