{% extends "layout.html" %}

{% block pageTitle %}
  DATE
{% endblock %}

{% block content %}
<h1 class="govuk-heading-xl">26th July - Ann and David Grove</h1>
<p class="govuk-body">We are sorry but there is no archive video for this virtual session available.</p>

<h3 class="govuk-heading-m">Why is this?</h3>
<p class="govuk-body">There are a few reasons this could be:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>The session was not recorded.</li>
  <li>The session recording was deleted by mistake.</li>
  <li>The session recording file was corrupted.</li>
  </ul>
  <h3 class="govuk-heading-m">Video:</h3>
  <p class="govuk-body">Because we have no recording of this we cannot provide you with a link.</p>

{% endblock %}
