{% extends "layout.html" %}

{% block pageTitle %}
  The latest session is not ready yet
{% endblock %}

{% block content %}
<h1 class="govuk-heading-xl">The latest session is not ready yet</h1>
<p>We're sorry but the latest session is not ready for viewing yet. Sessions take up to a week to process and upload to YouTube.</p>
<h3 class="govuk-heading-m">What next?</h3>
<p>You can start again and watch another session if you wish.</p>
<a href="/latest-session">
<button class="govuk-button" data-module="govuk-button">
  Start again
</button>
</a>
{% endblock %}
