{% extends "layout.html" %}

{% block pageTitle %}
  Which session would you like to see?
{% endblock %}

{% block content %}
<h1 class="govuk-heading-xl">Which session would you like to see?</h1>

<h3 class="govuk-heading-m">May</h3>
    <p class='govuk-body'><a href="#">24th</a>, <a href="#">31st</a></p>

<h3 class="govuk-heading-m">June</h3>
            <p class='govuk-body'><a href="#">7th</a>, <a href="#">14th</a>, <a href="#">21th</a>, <a href="#">28th</a></p>

<h3 class="govuk-heading-m">July</h3>
          <p class='govuk-body'><a href="#">5th</a>, <a href="#">12th</a>, <a href="#">19th</a>, <a href="#">26th</a></p>

{% endblock %}
