{% extends "layout.html" %}

{% block pageTitle %}
  Which session would you like to see?
{% endblock %}

{% block content %}
<h1 class="govuk-heading-xl">Which session would you like to see?</h1>

<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1" style="color:#6C585F">
          May
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
      <p class='govuk-body'><a href="#">24th</a>, <a href="#">31st</a></p>
    </div>
  </div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-2" style="color:#6C585F">
          June
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
      <p class='govuk-body'><a href="#">7th</a>, <a href="#">14th</a>, <a href="#">21th</a>, <a href="#">28th</a></p>
    </div>
  </div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-3" style="color:#6C585F">
          July
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
      <p class='govuk-body'><a href="5july">5th</a>, <a href="12july">12th</a>, <a href="19july">19th</a>, <a href="26july">26th</a></p>
    </div>
  </div>

{% endblock %}
